<!--
  @description       : 
  @author            : concret.io
  @group             : 
  @last modified on  : 11-26-2021
  @last modified by  : concret.io
-->
<template>
  <!-- <div id="action" class="slds-card slds-box slds-m-around_small"> -->
  <lightning-card variant="Narrow" title="Restore Drift Records" icon-name="utility:replace">
    <!-- <lightning-button-icon  icon-name="utility:down" variant="border-filled" alternative-text="Show More" slot="actions"></lightning-button-icon> -->
    <div class="slds-p-horizontal_small">
      <lightning-layout multiple-rows>
        <lightning-layout-item size="12" padding="around-small">
          <lightning-layout multiple-rows>
            <lightning-layout-item size="3">
              <lightning-button variant="brand-outline" label="Fetch Records" title="Fetch Records"
                onclick={handleFetchRecordsClick}></lightning-button>
            </lightning-layout-item>
            <lightning-layout-item size="3">
              <lightning-button variant="brand" label="Restore Records" title="Restore Records"
                onclick={handleRestoreRecordsClick}></lightning-button>
            </lightning-layout-item>
            <lightning-layout-item size="3">
              <div if:true={restoreDateValue}>
                <p> {currentStatus} Upto :
                  <lightning-formatted-date-time value={restoreDateValue}></lightning-formatted-date-time>
                </p>
              </div>
            </lightning-layout-item>
          </lightning-layout>
        </lightning-layout-item>
        <lightning-layout-item size="12" padding="around-small">
          <p class="slds-text-heading_small">
            STATUS: {currentStatus}
          </p>
        </lightning-layout-item>
      </lightning-layout>
    </div>
  </lightning-card>


  <!-- </div> -->
</template>